header.header {
  background: #fa6b05;
  padding-top: 2rem;

.imgLogo {
  width: 50px;
  padding-right: 10px;
  }
  
  > div {
    max-width: 1120px;
    margin: 0 auto;

    padding: 2rem 1rem 12rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}